header {
    border: 5px solid green;
}

nav {
    border: 5px solid blue;
}

main {
    border: 5px solid purple;
}

article {
    border: 5px solid red;
}

footer {
    border: 5px solid yellow;
}

.ol-nav {
    list-style-type: none;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

.margin-fix2 {
    margin-left: -30px;
}

.margin-fix {
    margin-left: 10px;
}

p {
    margin-left: 20px;
}

.ol-list {
    margin-left: 10px;
    padding-right: 0px;
}

.img1 {
    display: flex;
    margin-left: 500px;
    height: 170px;
    margin-top: -160px;
    margin-bottom: 20px;
}

.img2 {
    display: flex;
    margin-left: 20px;
    margin-bottom: 15px;
}

body {
    font-family: Google Sans, Arial;
}

.img3 {
    display: flex;
    margin-left: 20px;
    margin-bottom: 15px;
}